@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primaryButtonBackgroundColor: $primaryButtonBackgroundColor;
  --primaryTextHoverColor: $primaryTextHoverColor;
}

.montserrat-font-500 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-font {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.zoom-effect {
  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease; /* Thời gian và hiệu ứng mượt mà */
}

.zoom-effect:hover {
  transform: scale(1.05); /* Tăng kích thước phần tử khi hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Thêm bóng mờ để làm nổi bật phần tử */
}

.animation-visible {
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Bắt đầu với độ mờ bằng 0 */
  }
  100% {
    opacity: 1; /* Kết thúc với độ mờ bằng 1 */
  }
}

a {
  &:hover {
    color: $primaryLinkColor;
    transition: 0.5s;
  }
}

html {
  height: 100vh;
  background-color: $primaryBackgroundColor;
}

.primary-text {
  color: $primaryTextColor;
}

.secondary-text {
  color: $secondaryTextColor;

  &:hover {
    color: $primaryTextColor;
  }
}

.custom-button {
  background-color: $primaryTextHoverColor;
  color: white;
  border-width: 1px;
  border-color: $primaryTextHoverColor;

  &:hover {
    background-color: white;
    color: black;
    border-width: 1px;
    border-color: $primaryTextHoverColor;
    transition: 0.3s;
  }
}

.span-primary-hover {
  &:hover {
    color: $primaryLinkColor;
    transition: 0.1s;
  }
}

.layout-main {
  padding: 20px 20px 20px 10px;
}

.common-rounded {
  border-radius: $primaryRounded;
}

.primary-button {
  width: 100%;
  background-color: white;
  border-width: 1px;
  border-color: $primaryButtonBorderColor;
  color: $primaryTextColor;

  &:hover {
    background-color: $primaryButtonBorderColor;
    color: white;
  }
}

.primary-card {
  background-color: $primaryCardBackgroundColor;
  border-radius: $primaryRounded;
}

.background-default-135deg {
  background: hsla(0, 0%, 100%, 1);
  background: linear-gradient(
    135deg,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(179, 83%, 40%, 1) 100%
  );
  background: -moz-linear-gradient(
    135deg,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(179, 83%, 40%, 1) 100%
  );
  background: -webkit-linear-gradient(
    135deg,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(179, 83%, 40%, 1) 100%
  );
}

.background-default-45deg {
  background: hsla(179, 83%, 40%, 1);

  background: linear-gradient(
    45deg,
    hsla(179, 83%, 40%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );

  background: -moz-linear-gradient(
    45deg,
    hsla(179, 83%, 40%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );

  background: -webkit-linear-gradient(
    45deg,
    hsla(179, 83%, 40%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );
}

.icon-movement {
  &:hover {
    color: $primaryLinkColor;
  }
}

.x-bar {
  width: 40%;
}

@media (min-width: 768px) {
  .x-bar {
    max-width: 60%;
  }

  .container-card {
    max-width: 80%;
  }
}
@media (min-width: 1024px) {
  .x-bar {
    min-width: 50%;
  }

  .container-card {
    max-width: 80%;
  }
}
@media (min-width: 1280px) {
  .x-bar {
    min-width: 45%;
  }

  .container-card {
    max-width: 80%;
  }
}

@media (min-width: 1440px) {
  .x-bar {
    min-width: 50%;
  }

  .container-card {
    max-width: 80%;
  }
}

@media (min-width: 1536px) {
  .x-bar {
    min-width: 45%;
  }

  .container-card {
    max-width: 80%;
  }
}
