$primaryBackgroundColor: #e5e5e5;

$primaryCardBackgroundColor: #ffffff;

$primaryRounded: 16px;

$primaryTextColor: #666666;

$secondaryTextColor: #788fa5;

$primaryTextHoverColor: #11b9b5;

$primaryButtonBorderColor: #11b9b5;

$primaryLinkColor: #11b9b5;

$primaryButtonBackgroundColor: #11b9b5;

// $primaryBorderColor: #
